In [2]:
import pandas as pd
import glob

# 기준 파일
leader_df = pd.read_csv("../submission_tta_v2_0709_1414.csv")
leader_df.rename(columns={"target": "leader"}, inplace=True)

# 비교할 다른 제출 파일들 불러오기
submission_files = sorted(glob.glob("../submission_*.csv"))
dfs = [leader_df[["ID", "leader"]]]

for file in submission_files:
    df = pd.read_csv(file)
    col_name = file.split("/")[-1].replace(".csv", "")
    df.rename(columns={"target": col_name}, inplace=True)
    dfs.append(df[[col_name]])

# 병합
merged_df = pd.concat(dfs, axis=1)

FileNotFoundError: [Errno 2] No such file or directory: '../submission_tta_v2_0709_1414.csv'

In [ ]:
df

                        ID  submission_tta_v2_0709_1414
0     0008fdb22ddce0ce.jpg                            2
1     00091bffdffd83de.jpg                           12
2     00396fbc1f6cc21d.jpg                            5
3     00471f8038d9c4b6.jpg                            3
4     00901f504008d884.jpg                            2
...                    ...                          ...
3135  ffb4b6f619fb60ea.jpg                            6
3136  ffb54299b1ad4159.jpg                           10
3137  ffc2c91dff8cf2c0.jpg                            8
3138  ffc4e330a5353a2a.jpg                            0
3139  ffc71fed753d90c1.jpg                           12

[3140 rows x 2 columns]

In [ ]:


# 수동 정답 목록
manual_data = [
    ("00091bffdffd83de.jpg", 12),
    ("00471f8038d9c4b6.jpg", 12),
    ("009b22decbc7220c.jpg", 15),
    ("00bbdcfbbdb3e131.jpg", 8),
    ("00dcea90f63ad630.jpg", 5),
    ("01385f22f2490868.jpg", 4),
    ("016b0c00cdf93e0a.jpg", 13),
    ("017ba667291b53c6.jpg", 11),
    ("0182bffa56bdd844.jpg", 12),
    ("019ed42bb4c2caa9.jpg", 1),
    ("01bd84a54be54b8b.jpg", 6),
    ("020740b55bbc329e.jpg", 14),
    ("021e7c8d9dc19021.jpg", 16),
    ("03cb3f2e0962474e.jpg", 3),
    ("0447bde0b7da3a6c.jpg", 12),
    ("0639e3932c5f7817.jpg", 13),
    ("06427235c81111cc.jpg", 12),
    ("068f74f7f3021444.jpg", 5),
    ("06a484eb2afab068.jpg", 6),
    ("071a06f75055347b.jpg", 14),
    ("07d545e9eafadf0a.jpg", 12),
    ("09db80dc3d186a2e.jpg", 1),
    ("0b0f8f84d1b2ae04.jpg", 11),
    ("1276e19dfa47adc4.jpg", 14),
    ("128fd89fa359e4e8.jpg", 3),
    ("1392df37aecbb878.jpg", 3),
    ("13a1310b57a45515.jpg", 14),
    ("14bff117ad4c9bd5.jpg", 14),
    ("15d6890b32a3491a.jpg", 3),
    ("18b3cfa8bc2f7b09.jpg", 12),
    ("1a0ba37806171e85.jpg", 4),
    ("1b45268518d29b07.jpg", 3),
    ("1e5e16337b85dbc5.jpg", 3),
    ("2cab10f1deae738e.jpg", 14),
    ("2cbbb185120ce2e0.jpg", 12),
    ("2e4152b8a4893715.jpg", 15),
    ("359e1bbe09dc01b1.jpg", 12),
    ("365be7920c4f2ea7.jpg", 3),
    ("370c3e8dcc342b29.jpg", 14),
    ("37adbf12f411fd8e.jpg", 14),
    ("413269bd2a9b8d24.jpg", 3),
    ("42df520ce6d1f986.jpg", 3),
    ("45fa31f65f2a2944.jpg", 3),
]
# DataFrame 생성
manual_df = pd.DataFrame(manual_data, columns=["image_id", "manual_label"])

# 확인 
manual_df.info()

# manual_df의 두번째 열 중에 유니크한 숫자 개수
unique_labels = manual_df["manual_label"].unique()
print(f"유니크한 라벨 개수: {len(unique_labels)}")

# 그 유티크한 라벨이 뭐인지 모두 출력하기
print("유니크한 라벨:", unique_labels)

# 유니크한 라벨이 몇번 등장했는지 세기
label_counts = manual_df["manual_label"].value_counts()
print("\n라벨별 개수:")
print(label_counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   image_id      43 non-null     object
 1   manual_label  43 non-null     int64
dtypes: int64(1), object(1)
memory usage: 816.0+ bytes
유니크한 라벨 개수: 12
유니크한 라벨: [12 15  8  5  4 13 11  1  6 14 16  3]

라벨별 개수:
manual_label
3     10
12     9
14     8
15     2
5      2
4      2
13     2
11     2
1      2
6      2
8      1
16     1
Name: count, dtype: int64

In [ ]:
manual_df

                image_id  manual_label
0   00091bffdffd83de.jpg            12
1   00471f8038d9c4b6.jpg            12
2   009b22decbc7220c.jpg            15
3   00bbdcfbbdb3e131.jpg             8
4   00dcea90f63ad630.jpg             5
5   01385f22f2490868.jpg             4
6   016b0c00cdf93e0a.jpg            13
7   017ba667291b53c6.jpg            11
8   0182bffa56bdd844.jpg            12
9   019ed42bb4c2caa9.jpg             1
10  01bd84a54be54b8b.jpg             6
11  020740b55bbc329e.jpg            14
12  021e7c8d9dc19021.jpg            16
13  03cb3f2e0962474e.jpg             3
14  0447bde0b7da3a6c.jpg            12
15  0639e3932c5f7817.jpg            13
16  06427235c81111cc.jpg            12
17  068f74f7f3021444.jpg             5
18  06a484eb2afab068.jpg             6
19  071a06f75055347b.jpg            14
20  07d545e9eafadf0a.jpg            12
21  09db80dc3d186a2e.jpg             1
22  0b0f8f84d1b2ae04.jpg            11
23  1276e19dfa47adc4.jpg            14
24  128fd89fa359e4e8.jpg             3
25  1392df37aecbb878.jpg             3
26  13a1310b57a45515.jpg            14
27  14bff117ad4c9bd5.jpg            14
28  15d6890b32a3491a.jpg             3
29  18b3cfa8bc2f7b09.jpg            12
30  1a0ba37806171e85.jpg             4
31  1b45268518d29b07.jpg             3
32  1e5e16337b85dbc5.jpg             3
33  2cab10f1deae738e.jpg            14
34  2cbbb185120ce2e0.jpg            12
35  2e4152b8a4893715.jpg            15
36  359e1bbe09dc01b1.jpg            12
37  365be7920c4f2ea7.jpg             3
38  370c3e8dcc342b29.jpg            14
39  37adbf12f411fd8e.jpg            14
40  413269bd2a9b8d24.jpg             3
41  42df520ce6d1f986.jpg             3
42  45fa31f65f2a2944.jpg             3

In [ ]:
df = df.merge(manual_df, how="left", left_on="ID", right_on="image_id")
df

,ID,submission_tta_v2_0709_1414,image_id,manual_label
0,0008fdb22ddce0ce.jpg,2,NaN,NaN
1,00091bffdffd83de.jpg,12,00091bffdffd83de.jpg,12.0
2,00396fbc1f6cc21d.jpg,5,NaN,NaN
3,00471f8038d9c4b6.jpg,3,00471f8038d9c4b6.jpg,12.0
4,00901f504008d884.jpg,2,NaN,NaN
...,...,...,...,...
3135,ffb4b6f619fb60ea.jpg,6,NaN,NaN
3136,ffb54299b1ad4159.jpg,10,NaN,NaN
3137,ffc2c91dff8cf2c0.jpg,8,NaN,NaN
3138,ffc4e330a5353a2a.jpg,0,NaN,NaN
3139,ffc71fed753d90c1.jpg,12,NaN,NaN

In [ ]:
df.drop(columns=["image_id"], inplace=True)
df

                        ID  submission_tta_v2_0709_1414  manual_label
0     0008fdb22ddce0ce.jpg                            2           NaN
1     00091bffdffd83de.jpg                           12          12.0
2     00396fbc1f6cc21d.jpg                            5           NaN
3     00471f8038d9c4b6.jpg                            3          12.0
4     00901f504008d884.jpg                            2           NaN
...                    ...                          ...           ...
3135  ffb4b6f619fb60ea.jpg                            6           NaN
3136  ffb54299b1ad4159.jpg                           10           NaN
3137  ffc2c91dff8cf2c0.jpg                            8           NaN
3138  ffc4e330a5353a2a.jpg                            0           NaN
3139  ffc71fed753d90c1.jpg                           12           NaN

[3140 rows x 3 columns]

In [ ]:
# 칼럼명 수정. submission_tta_v2_0709_1414 을 '최고점수' 로 변경
df.rename(columns={"submission_tta_v2_0709_1414": "최고점"}, inplace=True)
df

                        ID  최고점  manual_label
0     0008fdb22ddce0ce.jpg    2           NaN
1     00091bffdffd83de.jpg   12          12.0
2     00396fbc1f6cc21d.jpg    5           NaN
3     00471f8038d9c4b6.jpg    3          12.0
4     00901f504008d884.jpg    2           NaN
...                    ...  ...           ...
3135  ffb4b6f619fb60ea.jpg    6           NaN
3136  ffb54299b1ad4159.jpg   10           NaN
3137  ffc2c91dff8cf2c0.jpg    8           NaN
3138  ffc4e330a5353a2a.jpg    0           NaN
3139  ffc71fed753d90c1.jpg   12           NaN

[3140 rows x 3 columns]

In [ ]:
# 칼럼명 수정. submission_tta_v2_0709_1414 을 '최고점수' 로 변경
df.rename(columns={"manual_label": "눈 정답"}, inplace=True)
df

                        ID  최고점  눈 정답
0     0008fdb22ddce0ce.jpg    2   NaN
1     00091bffdffd83de.jpg   12  12.0
2     00396fbc1f6cc21d.jpg    5   NaN
3     00471f8038d9c4b6.jpg    3  12.0
4     00901f504008d884.jpg    2   NaN
...                    ...  ...   ...
3135  ffb4b6f619fb60ea.jpg    6   NaN
3136  ffb54299b1ad4159.jpg   10   NaN
3137  ffc2c91dff8cf2c0.jpg    8   NaN
3138  ffc4e330a5353a2a.jpg    0   NaN
3139  ffc71fed753d90c1.jpg   12   NaN

[3140 rows x 3 columns]

In [ ]:
# NaN 허용하는 정수형(Int64)으로 변환
df["눈 정답"] = df["눈 정답"].astype("Int64")
df["최고점"] = df["최고점"].astype("Int64")

In [ ]:
df

                        ID  최고점  눈 정답
0     0008fdb22ddce0ce.jpg    2  <NA>
1     00091bffdffd83de.jpg   12    12
2     00396fbc1f6cc21d.jpg    5  <NA>
3     00471f8038d9c4b6.jpg    3    12
4     00901f504008d884.jpg    2  <NA>
...                    ...  ...   ...
3135  ffb4b6f619fb60ea.jpg    6  <NA>
3136  ffb54299b1ad4159.jpg   10  <NA>
3137  ffc2c91dff8cf2c0.jpg    8  <NA>
3138  ffc4e330a5353a2a.jpg    0  <NA>
3139  ffc71fed753d90c1.jpg   12  <NA>

[3140 rows x 3 columns]

In [ ]:
# 파일 불러오기
cond_ens = pd.read_csv("../submission_conditional_ensemble_0709_1805.csv")
weighted_ens = pd.read_csv("../submission_ensemble_weighted_v2_0709_1525.csv")

# 컬럼 이름 확인
print(cond_ens.columns)
print(weighted_ens.columns)

Index(['ID', 'target'], dtype='object')
Index(['ID', 'target'], dtype='object')

In [ ]:
# 컬럼 이름을 명확하게 변경 (ID, 예측값)
cond_ens.columns = ["ID", "조건부 앙상블"]
weighted_ens.columns = ["ID", "가중치 앙상블"]

In [ ]:
# ID 기준으로 병합
df = df.merge(cond_ens, on="ID", how="left")
df = df.merge(weighted_ens, on="ID", how="left")

In [ ]:
df

                        ID  최고점  눈 정답  조건부 앙상블  가중치 앙상블
0     0008fdb22ddce0ce.jpg    2  <NA>        2        2
1     00091bffdffd83de.jpg   12    12       12       12
2     00396fbc1f6cc21d.jpg    5  <NA>        5        5
3     00471f8038d9c4b6.jpg    3    12       12       12
4     00901f504008d884.jpg    2  <NA>        2        2
...                    ...  ...   ...      ...      ...
3135  ffb4b6f619fb60ea.jpg    6  <NA>        6        6
3136  ffb54299b1ad4159.jpg   10  <NA>       10       10
3137  ffc2c91dff8cf2c0.jpg    8  <NA>        8        8
3138  ffc4e330a5353a2a.jpg    0  <NA>        0        0
3139  ffc71fed753d90c1.jpg   12  <NA>       12       12

[3140 rows x 5 columns]

In [ ]:
# 모두 Int64로 (NaN 허용 정수형)
df["조건부 앙상블"] = df["조건부 앙상블"].astype("Int64")
df["가중치 앙상블"] = df["가중치 앙상블"].astype("Int64")

In [ ]:
df

                        ID  최고점  눈 정답  조건부 앙상블  가중치 앙상블
0     0008fdb22ddce0ce.jpg    2  <NA>        2        2
1     00091bffdffd83de.jpg   12    12       12       12
2     00396fbc1f6cc21d.jpg    5  <NA>        5        5
3     00471f8038d9c4b6.jpg    3    12       12       12
4     00901f504008d884.jpg    2  <NA>        2        2
...                    ...  ...   ...      ...      ...
3135  ffb4b6f619fb60ea.jpg    6  <NA>        6        6
3136  ffb54299b1ad4159.jpg   10  <NA>       10       10
3137  ffc2c91dff8cf2c0.jpg    8  <NA>        8        8
3138  ffc4e330a5353a2a.jpg    0  <NA>        0        0
3139  ffc71fed753d90c1.jpg   12  <NA>       12       12

[3140 rows x 5 columns]

In [ ]:
# '눈 정답' 열을 '최고점' 열과 자리 바꾸기

# 원하는 열 순서대로 재정렬
df = df[["ID", "눈 정답", "최고점"] + [col for col in df.columns if col not in ["ID", "눈 정답", "최고점"]]]

In [ ]:
df

                        ID  눈 정답  최고점  조건부 앙상블  가중치 앙상블
0     0008fdb22ddce0ce.jpg  <NA>    2        2        2
1     00091bffdffd83de.jpg    12   12       12       12
2     00396fbc1f6cc21d.jpg  <NA>    5        5        5
3     00471f8038d9c4b6.jpg    12    3       12       12
4     00901f504008d884.jpg  <NA>    2        2        2
...                    ...   ...  ...      ...      ...
3135  ffb4b6f619fb60ea.jpg  <NA>    6        6        6
3136  ffb54299b1ad4159.jpg  <NA>   10       10       10
3137  ffc2c91dff8cf2c0.jpg  <NA>    8        8        8
3138  ffc4e330a5353a2a.jpg  <NA>    0        0        0
3139  ffc71fed753d90c1.jpg  <NA>   12       12       12

[3140 rows x 5 columns]

In [ ]:
# '눈 정답' 에 값이 있는 줄 출력
df_with_labels = df[df["눈 정답"].notna()]
print(df_with_labels)

                       ID  눈 정답  최고점  조건부 앙상블  가중치 앙상블
1    00091bffdffd83de.jpg    12   12       12       12
3    00471f8038d9c4b6.jpg    12    3       12       12
5    009b22decbc7220c.jpg    15   14       15       15
7    00bbdcfbbdb3e131.jpg     8    8        8        8
10   00dcea90f63ad630.jpg     5    5        5        5
15   01385f22f2490868.jpg     4    4        4        4
18   016b0c00cdf93e0a.jpg    13   13       13       13
19   017ba667291b53c6.jpg    11   11        6       11
21   0182bffa56bdd844.jpg    12   12       12        1
22   019ed42bb4c2caa9.jpg     1    1        1        1
23   01bd84a54be54b8b.jpg     6    6        6        6
26   020740b55bbc329e.jpg    14   14       14       14
27   021e7c8d9dc19021.jpg    16   16       16       16
38   03cb3f2e0962474e.jpg     3    4        4        4
42   0447bde0b7da3a6c.jpg    12   12       12       12
59   0639e3932c5f7817.jpg    13   13       13       13
60   06427235c81111cc.jpg    12   14       12       12
62   068f74f7f3021444.jpg     5    5        5        5
64   06a484eb2afab068.jpg     6    6        6        6
70   071a06f75055347b.jpg    14    3        3        3
79   07d545e9eafadf0a.jpg    12   13       13       13
103  09db80dc3d186a2e.jpg     1   14        1        1
118  0b0f8f84d1b2ae04.jpg    11   11       11        6
212  1276e19dfa47adc4.jpg    14   14       14       14
213  128fd89fa359e4e8.jpg     3    4        4        3
226  1392df37aecbb878.jpg     3    3        3        3
228  13a1310b57a45515.jpg    14    4        4       14
241  14bff117ad4c9bd5.jpg    14   14        4       14
253  15d6890b32a3491a.jpg     3    7        7        3
284  18b3cfa8bc2f7b09.jpg    12   14       12        1
297  1a0ba37806171e85.jpg     4    3        4        3
310  1b45268518d29b07.jpg     3    7        3        4
348  1e5e16337b85dbc5.jpg     3    7        3        3
501  2cab10f1deae738e.jpg    14   14        7       14
502  2cbbb185120ce2e0.jpg    12   14       12       12
517  2e4152b8a4893715.jpg    15   15       15       15
621  359e1bbe09dc01b1.jpg    12   12       12       12
629  365be7920c4f2ea7.jpg     3    3        3        3
635  370c3e8dcc342b29.jpg    14    3        4        4
647  37adbf12f411fd8e.jpg    14   14        4        4
780  413269bd2a9b8d24.jpg     3    3        3        3
805  42df520ce6d1f986.jpg     3    4        7        7
837  45fa31f65f2a2944.jpg     3   14        7        4

In [ ]:
# 눈 정답이 존재하는 행만 추출
df_with_labels = df[df["눈 정답"].notna()].copy()

# int형으로 변환
df_with_labels["눈 정답"] = df_with_labels["눈 정답"].astype(int)
df_with_labels["최고점"] = df_with_labels["최고점"].astype(int)
df_with_labels["조건부 앙상블"] = df_with_labels["조건부 앙상블"].astype(int)
df_with_labels["가중치 앙상블"] = df_with_labels["가중치 앙상블"].astype(int)

# 정확도 계산
total = len(df_with_labels)
correct_top = (df_with_labels["최고점"] == df_with_labels["눈 정답"]).sum()
correct_conditional = (df_with_labels["조건부 앙상블"] == df_with_labels["눈 정답"]).sum()
correct_weighted = (df_with_labels["가중치 앙상블"] == df_with_labels["눈 정답"]).sum()

print(f"최고점 모델 정확도: {correct_top}/{total}")
print(f"조건부 앙상블 정확도: {correct_conditional}/{total}")
print(f"가중치 앙상블 정확도: {correct_weighted}/{total}")

최고점 모델 정확도: 25/43
조건부 앙상블 정확도: 30/43
가중치 앙상블 정확도: 31/43

In [ ]:
# 예측이 틀린 경우 표시 (True: 정답, False: 오답)
df_with_labels["최고점_정답"] = df_with_labels["최고점"] == df_with_labels["눈 정답"]
df_with_labels["조건부_정답"] = df_with_labels["조건부 앙상블"] == df_with_labels["눈 정답"]
df_with_labels["가중치_정답"] = df_with_labels["가중치 앙상블"] == df_with_labels["눈 정답"]

# 클래스별 정답률 요약
summary = df_with_labels.groupby("눈 정답")[["최고점_정답", "조건부_정답", "가중치_정답"]].mean() * 100
summary = summary.round(1)
print(summary)

      최고점_정답  조건부_정답  가중치_정답
눈 정답
1       50.0   100.0   100.0
3       30.0    50.0    60.0
4       50.0   100.0    50.0
5      100.0   100.0   100.0
6      100.0   100.0   100.0
8      100.0   100.0   100.0
11     100.0    50.0    50.0
12      44.4    88.9    66.7
13     100.0   100.0   100.0
14      62.5    25.0    62.5
15      50.0   100.0   100.0
16     100.0   100.0   100.0

In [ ]:
df_simple = df.copy()
df_simple

                        ID  눈 정답  최고점  조건부 앙상블  가중치 앙상블
0     0008fdb22ddce0ce.jpg  <NA>    2        2        2
1     00091bffdffd83de.jpg    12   12       12       12
2     00396fbc1f6cc21d.jpg  <NA>    5        5        5
3     00471f8038d9c4b6.jpg    12    3       12       12
4     00901f504008d884.jpg  <NA>    2        2        2
...                    ...   ...  ...      ...      ...
3135  ffb4b6f619fb60ea.jpg  <NA>    6        6        6
3136  ffb54299b1ad4159.jpg  <NA>   10       10       10
3137  ffc2c91dff8cf2c0.jpg  <NA>    8        8        8
3138  ffc4e330a5353a2a.jpg  <NA>    0        0        0
3139  ffc71fed753d90c1.jpg  <NA>   12       12       12

[3140 rows x 5 columns]

In [ ]:
df_simple.drop(columns=["조건부 앙상블", "가중치 앙상블"], inplace=True)
df_simple

                        ID  눈 정답  최고점
0     0008fdb22ddce0ce.jpg  <NA>    2
1     00091bffdffd83de.jpg    12   12
2     00396fbc1f6cc21d.jpg  <NA>    5
3     00471f8038d9c4b6.jpg    12    3
4     00901f504008d884.jpg  <NA>    2
...                    ...   ...  ...
3135  ffb4b6f619fb60ea.jpg  <NA>    6
3136  ffb54299b1ad4159.jpg  <NA>   10
3137  ffc2c91dff8cf2c0.jpg  <NA>    8
3138  ffc4e330a5353a2a.jpg  <NA>    0
3139  ffc71fed753d90c1.jpg  <NA>   12

[3140 rows x 3 columns]

In [ ]:
# 제출 파일 경로
inference_path = "../submissions/submission_auto-tf_efficientnetv2_s-lr1e-4-sz384-epoch=22-val_f1=0.9955_0709_2253.csv"

# 제출 파일 불러오기
infer_df = pd.read_csv(inference_path)
infer_df

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
# 제출 파일 경로
inference_path = "../submissions/submission_auto-resnet101-lr1e-4-sz384-epoch=19-val_f1=0.9839_0709_2257.csv"

# 제출 파일 불러오기
infer_df2 = pd.read_csv(inference_path)
infer_df2

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      13
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
# 모델명에 맞게 열 이름 바꾸기
infer_df.rename(columns={"target": "2_auto_eff"}, inplace=True)
infer_df

                        ID  2_auto_eff
0     0008fdb22ddce0ce.jpg           2
1     00091bffdffd83de.jpg          12
2     00396fbc1f6cc21d.jpg           5
3     00471f8038d9c4b6.jpg          12
4     00901f504008d884.jpg           2
...                    ...         ...
3135  ffb4b6f619fb60ea.jpg           6
3136  ffb54299b1ad4159.jpg          10
3137  ffc2c91dff8cf2c0.jpg           8
3138  ffc4e330a5353a2a.jpg           0
3139  ffc71fed753d90c1.jpg          12

[3140 rows x 2 columns]

In [ ]:
# 모델명에 맞게 열 이름 바꾸기
infer_df2.rename(columns={"target": "3_auto_res2"}, inplace=True)
infer_df2

                        ID  3_auto_res2
0     0008fdb22ddce0ce.jpg            2
1     00091bffdffd83de.jpg           12
2     00396fbc1f6cc21d.jpg            5
3     00471f8038d9c4b6.jpg           13
4     00901f504008d884.jpg            2
...                    ...          ...
3135  ffb4b6f619fb60ea.jpg            6
3136  ffb54299b1ad4159.jpg           10
3137  ffc2c91dff8cf2c0.jpg            8
3138  ffc4e330a5353a2a.jpg            0
3139  ffc71fed753d90c1.jpg           12

[3140 rows x 2 columns]

In [ ]:
df_simple

                        ID  눈 정답  최고점
0     0008fdb22ddce0ce.jpg  <NA>    2
1     00091bffdffd83de.jpg    12   12
2     00396fbc1f6cc21d.jpg  <NA>    5
3     00471f8038d9c4b6.jpg    12    3
4     00901f504008d884.jpg  <NA>    2
...                    ...   ...  ...
3135  ffb4b6f619fb60ea.jpg  <NA>    6
3136  ffb54299b1ad4159.jpg  <NA>   10
3137  ffc2c91dff8cf2c0.jpg  <NA>    8
3138  ffc4e330a5353a2a.jpg  <NA>    0
3139  ffc71fed753d90c1.jpg  <NA>   12

[3140 rows x 3 columns]

In [ ]:
# 최고점 컬럼 이름 변경
df_simple.rename(columns={"최고점": "1_최고점_convnext_base"}, inplace=True)
df_simple

                        ID  눈 정답  1_최고점_convnext_base
0     0008fdb22ddce0ce.jpg  <NA>                    2
1     00091bffdffd83de.jpg    12                   12
2     00396fbc1f6cc21d.jpg  <NA>                    5
3     00471f8038d9c4b6.jpg    12                    3
4     00901f504008d884.jpg  <NA>                    2
...                    ...   ...                  ...
3135  ffb4b6f619fb60ea.jpg  <NA>                    6
3136  ffb54299b1ad4159.jpg  <NA>                   10
3137  ffc2c91dff8cf2c0.jpg  <NA>                    8
3138  ffc4e330a5353a2a.jpg  <NA>                    0
3139  ffc71fed753d90c1.jpg  <NA>                   12

[3140 rows x 3 columns]

In [ ]:
# ID 기준으로 오른쪽에 붙이기
df_simple = df_simple.merge(infer_df, on="ID", how="left")

In [ ]:
df_simple

                        ID  눈 정답  1_최고점_convnext_base  2_auto_eff
0     0008fdb22ddce0ce.jpg  <NA>                    2           2
1     00091bffdffd83de.jpg    12                   12          12
2     00396fbc1f6cc21d.jpg  <NA>                    5           5
3     00471f8038d9c4b6.jpg    12                    3          12
4     00901f504008d884.jpg  <NA>                    2           2
...                    ...   ...                  ...         ...
3135  ffb4b6f619fb60ea.jpg  <NA>                    6           6
3136  ffb54299b1ad4159.jpg  <NA>                   10          10
3137  ffc2c91dff8cf2c0.jpg  <NA>                    8           8
3138  ffc4e330a5353a2a.jpg  <NA>                    0           0
3139  ffc71fed753d90c1.jpg  <NA>                   12          12

[3140 rows x 4 columns]

In [ ]:
df_simple.rename(columns={"1_최고점_convnext_base": "1_최고점_conv"}, inplace=True)
df_simple

                        ID  눈 정답  1_최고점_conv  2_auto_eff
0     0008fdb22ddce0ce.jpg  <NA>           2           2
1     00091bffdffd83de.jpg    12          12          12
2     00396fbc1f6cc21d.jpg  <NA>           5           5
3     00471f8038d9c4b6.jpg    12           3          12
4     00901f504008d884.jpg  <NA>           2           2
...                    ...   ...         ...         ...
3135  ffb4b6f619fb60ea.jpg  <NA>           6           6
3136  ffb54299b1ad4159.jpg  <NA>          10          10
3137  ffc2c91dff8cf2c0.jpg  <NA>           8           8
3138  ffc4e330a5353a2a.jpg  <NA>           0           0
3139  ffc71fed753d90c1.jpg  <NA>          12          12

[3140 rows x 4 columns]

In [ ]:
df_simple = df_simple.merge(infer_df, on="ID", how="left")
df_simple

                        ID  눈 정답  1_최고점_conv  2_auto_eff_x  2_auto_eff_y
0     0008fdb22ddce0ce.jpg  <NA>           2             2             2
1     00091bffdffd83de.jpg    12          12            12            12
2     00396fbc1f6cc21d.jpg  <NA>           5             5             5
3     00471f8038d9c4b6.jpg    12           3            12            12
4     00901f504008d884.jpg  <NA>           2             2             2
...                    ...   ...         ...           ...           ...
3135  ffb4b6f619fb60ea.jpg  <NA>           6             6             6
3136  ffb54299b1ad4159.jpg  <NA>          10            10            10
3137  ffc2c91dff8cf2c0.jpg  <NA>           8             8             8
3138  ffc4e330a5353a2a.jpg  <NA>           0             0             0
3139  ffc71fed753d90c1.jpg  <NA>          12            12            12

[3140 rows x 5 columns]

In [ ]:
# 제출 파일 경로
inference_path = "../submissions/submission_tf_efficientnetv2_s-epoch=21-val_f1=0.9565_0709_2304.csv"

# 제출 파일 불러오기
infer_df3 = pd.read_csv(inference_path)
infer_df3

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      10
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      10
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
df_simple = df_simple.merge(infer_df3, on="ID", how="left")
df_simple

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,2_auto_eff_y,target
0,0008fdb22ddce0ce.jpg,<NA>,2,2,2,2
1,00091bffdffd83de.jpg,12,12,12,12,10
2,00396fbc1f6cc21d.jpg,<NA>,5,5,5,5
3,00471f8038d9c4b6.jpg,12,3,12,12,10
4,00901f504008d884.jpg,<NA>,2,2,2,2
...,...,...,...,...,...,...
3135,ffb4b6f619fb60ea.jpg,<NA>,6,6,6,6
3136,ffb54299b1ad4159.jpg,<NA>,10,10,10,10
3137,ffc2c91dff8cf2c0.jpg,<NA>,8,8,8,8
3138,ffc4e330a5353a2a.jpg,<NA>,0,0,0,0
3139,ffc71fed753d90c1.jpg,<NA>,12,12,12,12

In [ ]:
# 최고점 컬럼 이름 변경
df_simple.rename(columns={"target": "3_tf_eff"}, inplace=True)
df_simple

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,2_auto_eff_y,3_tf_eff
0,0008fdb22ddce0ce.jpg,<NA>,2,2,2,2
1,00091bffdffd83de.jpg,12,12,12,12,10
2,00396fbc1f6cc21d.jpg,<NA>,5,5,5,5
3,00471f8038d9c4b6.jpg,12,3,12,12,10
4,00901f504008d884.jpg,<NA>,2,2,2,2
...,...,...,...,...,...,...
3135,ffb4b6f619fb60ea.jpg,<NA>,6,6,6,6
3136,ffb54299b1ad4159.jpg,<NA>,10,10,10,10
3137,ffc2c91dff8cf2c0.jpg,<NA>,8,8,8,8
3138,ffc4e330a5353a2a.jpg,<NA>,0,0,0,0
3139,ffc71fed753d90c1.jpg,<NA>,12,12,12,12

In [ ]:
# 2_auto_eff_y 전체 행 삭제하기
df_simple.drop(columns=["2_auto_eff_y"], inplace=True)
df_simple

                        ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff
0     0008fdb22ddce0ce.jpg  <NA>           2             2         2
1     00091bffdffd83de.jpg    12          12            12        10
2     00396fbc1f6cc21d.jpg  <NA>           5             5         5
3     00471f8038d9c4b6.jpg    12           3            12        10
4     00901f504008d884.jpg  <NA>           2             2         2
...                    ...   ...         ...           ...       ...
3135  ffb4b6f619fb60ea.jpg  <NA>           6             6         6
3136  ffb54299b1ad4159.jpg  <NA>          10            10        10
3137  ffc2c91dff8cf2c0.jpg  <NA>           8             8         8
3138  ffc4e330a5353a2a.jpg  <NA>           0             0         0
3139  ffc71fed753d90c1.jpg  <NA>          12            12        12

[3140 rows x 5 columns]

In [ ]:
df_simple.columns

Index(['ID', '눈 정답', '1_최고점_conv', '2_auto_eff_x', '3_tf_eff'], dtype='object')

In [ ]:
# '눈 정답' 에 값이 있는 줄 출력
df_simple_with_labels = df_simple[df_simple["눈 정답"].notna()]
print(df_simple_with_labels)

                       ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff
1    00091bffdffd83de.jpg    12          12            12        10
3    00471f8038d9c4b6.jpg    12           3            12        10
5    009b22decbc7220c.jpg    15          14            15         8
7    00bbdcfbbdb3e131.jpg     8           8             8         8
10   00dcea90f63ad630.jpg     5           5             5         5
15   01385f22f2490868.jpg     4           4            13         6
18   016b0c00cdf93e0a.jpg    13          13            13        10
19   017ba667291b53c6.jpg    11          11            11        11
21   0182bffa56bdd844.jpg    12          12            13        12
22   019ed42bb4c2caa9.jpg     1           1             1         1
23   01bd84a54be54b8b.jpg     6           6             6         6
26   020740b55bbc329e.jpg    14          14            14         3
27   021e7c8d9dc19021.jpg    16          16            16        16
38   03cb3f2e0962474e.jpg     3           4             1         6
42   0447bde0b7da3a6c.jpg    12          12            12         6
59   0639e3932c5f7817.jpg    13          13            13        10
60   06427235c81111cc.jpg    12          14            12        12
62   068f74f7f3021444.jpg     5           5             5         8
64   06a484eb2afab068.jpg     6           6             6         6
70   071a06f75055347b.jpg    14           3            13        10
79   07d545e9eafadf0a.jpg    12          13            13        13
103  09db80dc3d186a2e.jpg     1          14             1        10
118  0b0f8f84d1b2ae04.jpg    11          11            11         6
212  1276e19dfa47adc4.jpg    14          14            13        10
213  128fd89fa359e4e8.jpg     3           4            13         3
226  1392df37aecbb878.jpg     3           3             3         3
228  13a1310b57a45515.jpg    14           4            14         7
241  14bff117ad4c9bd5.jpg    14          14             7         7
253  15d6890b32a3491a.jpg     3           7             3         3
284  18b3cfa8bc2f7b09.jpg    12          14            13        10
297  1a0ba37806171e85.jpg     4           3             3         3
310  1b45268518d29b07.jpg     3           7             7         4
348  1e5e16337b85dbc5.jpg     3           7             3         3
501  2cab10f1deae738e.jpg    14          14            13        10
502  2cbbb185120ce2e0.jpg    12          14            12         6
517  2e4152b8a4893715.jpg    15          15            15         8
621  359e1bbe09dc01b1.jpg    12          12            13        10
629  365be7920c4f2ea7.jpg     3           3             3         3
635  370c3e8dcc342b29.jpg    14           3            13        10
647  37adbf12f411fd8e.jpg    14          14            13        10
780  413269bd2a9b8d24.jpg     3           3             7         3
805  42df520ce6d1f986.jpg     3           4             3         7
837  45fa31f65f2a2944.jpg     3          14            13        10

In [ ]:

# '눈 정답'이 있는 행만 필터링
df_labeled = df_simple[df_simple['눈 정답'].notna()].copy()
df_labeled

                       ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff
1    00091bffdffd83de.jpg    12          12            12        10
3    00471f8038d9c4b6.jpg    12           3            12        10
5    009b22decbc7220c.jpg    15          14            15         8
7    00bbdcfbbdb3e131.jpg     8           8             8         8
10   00dcea90f63ad630.jpg     5           5             5         5
15   01385f22f2490868.jpg     4           4            13         6
18   016b0c00cdf93e0a.jpg    13          13            13        10
19   017ba667291b53c6.jpg    11          11            11        11
21   0182bffa56bdd844.jpg    12          12            13        12
22   019ed42bb4c2caa9.jpg     1           1             1         1
23   01bd84a54be54b8b.jpg     6           6             6         6
26   020740b55bbc329e.jpg    14          14            14         3
27   021e7c8d9dc19021.jpg    16          16            16        16
38   03cb3f2e0962474e.jpg     3           4             1         6
42   0447bde0b7da3a6c.jpg    12          12            12         6
59   0639e3932c5f7817.jpg    13          13            13        10
60   06427235c81111cc.jpg    12          14            12        12
62   068f74f7f3021444.jpg     5           5             5         8
64   06a484eb2afab068.jpg     6           6             6         6
70   071a06f75055347b.jpg    14           3            13        10
79   07d545e9eafadf0a.jpg    12          13            13        13
103  09db80dc3d186a2e.jpg     1          14             1        10
118  0b0f8f84d1b2ae04.jpg    11          11            11         6
212  1276e19dfa47adc4.jpg    14          14            13        10
213  128fd89fa359e4e8.jpg     3           4            13         3
226  1392df37aecbb878.jpg     3           3             3         3
228  13a1310b57a45515.jpg    14           4            14         7
241  14bff117ad4c9bd5.jpg    14          14             7         7
253  15d6890b32a3491a.jpg     3           7             3         3
284  18b3cfa8bc2f7b09.jpg    12          14            13        10
297  1a0ba37806171e85.jpg     4           3             3         3
310  1b45268518d29b07.jpg     3           7             7         4
348  1e5e16337b85dbc5.jpg     3           7             3         3
501  2cab10f1deae738e.jpg    14          14            13        10
502  2cbbb185120ce2e0.jpg    12          14            12         6
517  2e4152b8a4893715.jpg    15          15            15         8
621  359e1bbe09dc01b1.jpg    12          12            13        10
629  365be7920c4f2ea7.jpg     3           3             3         3
635  370c3e8dcc342b29.jpg    14           3            13        10
647  37adbf12f411fd8e.jpg    14          14            13        10
780  413269bd2a9b8d24.jpg     3           3             7         3
805  42df520ce6d1f986.jpg     3           4             3         7
837  45fa31f65f2a2944.jpg     3          14            13        10

In [ ]:
# # 데이터 타입을 정수형으로 변환
df_labeled['눈 정답'] = df_labeled['눈 정답'].astype(int)
df_labeled['1_최 고점_conv'] = df_labeled['1_최고점_conv'].astype(int)
df_labeled['2_auto_eff_x'] = df_labeled['2_auto_eff_x'].astype(int)
df_labeled['3_tf_eff'] = df_labeled['3_tf_eff'].astype(int)

In [ ]:
# # 정확도 계산 함수 정의
def calculate_accuracy(col_name):
    correct = (df_labeled[col_name] == df_labeled['눈 정답']).sum()
    total = len(df_labeled)
    acc = correct / total
    return correct, total, acc

# 각 모델별 정확도 계산 및 출력
for col in ['1_최고점_conv', '2_auto_eff_x', '3_tf_eff']:
    correct, total, acc = calculate_accuracy(col)
    print(f"{col} 정확도: {correct}/{total} ({acc:.2%})")

1_최고점_conv 정확도: 25/43 (58.14%)
2_auto_eff_x 정확도: 26/43 (60.47%)
3_tf_eff 정확도: 15/43 (34.88%)

In [ ]:
# 정답이 있는 샘플만 필터링
df_labeled = df_simple[df_simple['눈 정답'].notna()].copy()

# 데이터 타입을 정수형으로 통일
df_labeled['눈 정답'] = df_labeled['눈 정답'].astype(int)
df_labeled['1_최고점_conv'] = df_labeled['1_최고점_conv'].astype(int)
df_labeled['2_auto_eff_x'] = df_labeled['2_auto_eff_x'].astype(int)
df_labeled['3_tf_eff'] = df_labeled['3_tf_eff'].astype(int)

# 클래스별 정답률 계산 함수
def classwise_accuracy(df, label_col, pred_cols):
    result = {}
    unique_labels = sorted(df[label_col].unique())

    for label in unique_labels:
        df_class = df[df[label_col] == label]
        result[label] = {
            col: round((df_class[col] == df_class[label_col]).mean() * 100, 1)
            for col in pred_cols
        }

    return pd.DataFrame(result).T

# 예측 칼럼
pred_cols = ['1_최고점_conv', '2_auto_eff_x', '3_tf_eff']

# 정답률 계산 및 출력
class_accuracy_df = classwise_accuracy(df_labeled, '눈 정답', pred_cols)
print("클래스별 정답률 (%):")
print(class_accuracy_df)

클래스별 정답률 (%):
    1_최고점_conv  2_auto_eff_x  3_tf_eff
1         50.0         100.0      50.0
3         30.0          50.0      60.0
4         50.0           0.0       0.0
5        100.0         100.0      50.0
6        100.0         100.0     100.0
8        100.0         100.0     100.0
11       100.0         100.0      50.0
12        44.4          55.6      22.2
13       100.0         100.0       0.0
14        62.5          25.0       0.0
15        50.0         100.0       0.0
16       100.0         100.0     100.0

In [ ]:
# 3개 모델의 예측 결과가 모두 다른 경우 필터링
df_disagree = df_labeled[
    (df_labeled['1_최고점_conv'] != df_labeled['2_auto_eff_x']) &
    (df_labeled['1_최고점_conv'] != df_labeled['3_tf_eff']) &
    (df_labeled['2_auto_eff_x'] != df_labeled['3_tf_eff'])
]

print(f"모든 모델이 서로 다른 예측을 한 샘플 수: {len(df_disagree)}")
df_disagree[['ID', '눈 정답', '1_최고점_conv', '2_auto_eff_x', '3_tf_eff']]

모든 모델이 서로 다른 예측을 한 샘플 수: 17

                       ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff
3    00471f8038d9c4b6.jpg    12           3            12        10
5    009b22decbc7220c.jpg    15          14            15         8
15   01385f22f2490868.jpg     4           4            13         6
38   03cb3f2e0962474e.jpg     3           4             1         6
70   071a06f75055347b.jpg    14           3            13        10
103  09db80dc3d186a2e.jpg     1          14             1        10
212  1276e19dfa47adc4.jpg    14          14            13        10
213  128fd89fa359e4e8.jpg     3           4            13         3
228  13a1310b57a45515.jpg    14           4            14         7
284  18b3cfa8bc2f7b09.jpg    12          14            13        10
501  2cab10f1deae738e.jpg    14          14            13        10
502  2cbbb185120ce2e0.jpg    12          14            12         6
621  359e1bbe09dc01b1.jpg    12          12            13        10
635  370c3e8dcc342b29.jpg    14           3            13        10
647  37adbf12f411fd8e.jpg    14          14            13        10
805  42df520ce6d1f986.jpg     3           4             3         7
837  45fa31f65f2a2944.jpg     3          14            13        10

 ## 가장 헷갈려하는 클래스
•	클래스 14:
	•	모든 모델에서 3, 4, 7, 10, 13 등 다양한 클래스와 혼동됨
	•	2_auto_eff_x는 특히 13을 5번 예측
	•	3_tf_eff는 10을 5번 예측 → 많은 클래스와의 혼동 유발

•	클래스 12:
	•	1_최고점_conv: 3, 12, 14로 다양하게 예측
	•	3_tf_eff: 6, 10 등으로 분산
 
•	클래스 3:
	•	각 모델에서 3, 4, 6, 7, 10, 13으로 분산 → 뚜렷한 경향 없음

In [ ]:
from collections import defaultdict, Counter

def model_prediction_distribution_by_class(df, label_col, pred_cols):
    class_model_preds = defaultdict(lambda: defaultdict(list))

    # 각 행의 눈 정답 기준으로 모델별 예측값 저장
    for _, row in df.dropna(subset=[label_col]).iterrows():
        true_label = int(row[label_col])
        for model_col in pred_cols:
            class_model_preds[true_label][model_col].append(int(row[model_col]))

    # 각 클래스별 모델 예측 분포를 정리
    rows = []
    for cls in sorted(class_model_preds.keys()):
        row = {'눈 정답 클래스': cls}
        for model_col in pred_cols:
            preds = class_model_preds[cls][model_col]
            pred_counts = Counter(preds)
            # 예: "3(5), 12(2)" 형식으로 정리
            summary = ', '.join([f'{k}({v})' for k, v in sorted(pred_counts.items())])
            row[f'{model_col} 분포'] = summary
        rows.append(row)

    return pd.DataFrame(rows)

# 실행
pred_cols = ['1_최고점_conv', '2_auto_eff_x', '3_tf_eff']
distribution_df = model_prediction_distribution_by_class(df_simple, '눈 정답', pred_cols)
distribution_df

,눈 정답 클래스,1_최고점_conv 분포,2_auto_eff_x 분포,3_tf_eff 분포
0,1,"1(1), 14(1)",1(2),"1(1), 10(1)"
1,3,"3(3), 4(3), 7(3), 14(1)","1(1), 3(5), 7(2), 13(2)","3(6), 4(1), 6(1), 7(1), 10(1)"
2,4,"3(1), 4(1)","3(1), 13(1)","3(1), 6(1)"
3,5,5(2),5(2),"5(1), 8(1)"
4,6,6(2),6(2),6(2)
5,8,8(1),8(1),8(1)
6,11,11(2),11(2),"6(1), 11(1)"
7,12,"3(1), 12(4), 13(1), 14(3)","12(5), 13(4)","6(2), 10(4), 12(2), 13(1)"
8,13,13(2),13(2),10(2)
9,14,"3(2), 4(1), 14(5)","7(1), 13(5), 14(2)","3(1), 7(2), 10(5)"
10,15,"14(1), 15(1)",15(2),8(2)
11,16,16(1),16(1),16(1)

In [ ]:
df_simple

                        ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff
0     0008fdb22ddce0ce.jpg  <NA>           2             2         2
1     00091bffdffd83de.jpg    12          12            12        10
2     00396fbc1f6cc21d.jpg  <NA>           5             5         5
3     00471f8038d9c4b6.jpg    12           3            12        10
4     00901f504008d884.jpg  <NA>           2             2         2
...                    ...   ...         ...           ...       ...
3135  ffb4b6f619fb60ea.jpg  <NA>           6             6         6
3136  ffb54299b1ad4159.jpg  <NA>          10            10        10
3137  ffc2c91dff8cf2c0.jpg  <NA>           8             8         8
3138  ffc4e330a5353a2a.jpg  <NA>           0             0         0
3139  ffc71fed753d90c1.jpg  <NA>          12            12        12

[3140 rows x 5 columns]

In [ ]:
inference_path = "../submissions/submission_auto-resnet101-lr1e-4-sz384-epoch=19-val_f1=0.9839_0709_2257.csv"

In [ ]:
df = pd.read_csv('../data/raw/train.csv')
df
# df2 = df[df['target'].isin(valid_class_list)]  # 예: 0~16 정수여야 함

# 타겟의 유니크한 값들을 출력
print("유니크한 타겟 값들:", df['target'].unique())

# 타겟의 데이터 타입
print("타겟 데이터 타입:", df['target'].dtype)

유니크한 타겟 값들: [16 10  4  5 15 14  9 13  7 11  2  8 12  3  0  1  6]
타겟 데이터 타입: int64

In [ ]:

valid_class_list = list(range(17))  # 0 ~ 16


clean_df = df[df['target'].isin(valid_class_list)]

In [ ]:
import pandas as pd
import os

df = pd.read_csv('../data/train.csv')
image_folder = '../data/train'

missing = []
for fname in df['ID']:
    if not os.path.exists(os.path.join(image_folder, fname)):
        missing.append(fname)

print(f"총 {len(missing)}개의 누락된 이미지 파일이 있습니다.")
if missing:
    print("예시:", missing[:5])

총 1570개의 누락된 이미지 파일이 있습니다.
예시: ['002f99746285dfdd.jpg', '008ccd231e1fea5d.jpg', '008f5911bfda7695.jpg', '009235e4c9c07af5.jpg', '00b2f44967580c74.jpg']

In [ ]:
print(df.columns)       # target이 있는지
print(df['target'].unique())  # 어떤 값이 들어있는지

Index(['ID', 'target'], dtype='object')
[16 10  4  5 15 14  9 13  7 11  2  8 12  3  0  1  6]

In [ ]:
# submissions/20250710_1117.csv 파일 불러오기
submission_df = pd.read_csv('../submissions/20250710_1117.csv')
print(submission_df)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
# target 열 이름을 1117로 바꾸기
submission_df.rename(columns={'target': '1117'}, inplace=True)

In [ ]:
submission_df

                        ID  1117
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
# df_simple_with_labels 의 맨 오른쪽 열에 submission_df['1117'] 열을 추가하기
df_simple_with_labels = df_simple_with_labels.merge(submission_df[['ID', '1117']], on='ID', how='left')
df_simple_with_labels

                      ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff  1117
0   00091bffdffd83de.jpg    12          12            12        10    12
1   00471f8038d9c4b6.jpg    12           3            12        10    12
2   009b22decbc7220c.jpg    15          14            15         8    15
3   00bbdcfbbdb3e131.jpg     8           8             8         8     8
4   00dcea90f63ad630.jpg     5           5             5         5     5
5   01385f22f2490868.jpg     4           4            13         6     6
6   016b0c00cdf93e0a.jpg    13          13            13        10    13
7   017ba667291b53c6.jpg    11          11            11        11    11
8   0182bffa56bdd844.jpg    12          12            13        12    13
9   019ed42bb4c2caa9.jpg     1           1             1         1     1
10  01bd84a54be54b8b.jpg     6           6             6         6     6
11  020740b55bbc329e.jpg    14          14            14         3    14
12  021e7c8d9dc19021.jpg    16          16            16        16    16
13  03cb3f2e0962474e.jpg     3           4             1         6     6
14  0447bde0b7da3a6c.jpg    12          12            12         6    12
15  0639e3932c5f7817.jpg    13          13            13        10    13
16  06427235c81111cc.jpg    12          14            12        12    12
17  068f74f7f3021444.jpg     5           5             5         8     5
18  06a484eb2afab068.jpg     6           6             6         6     6
19  071a06f75055347b.jpg    14           3            13        10    13
20  07d545e9eafadf0a.jpg    12          13            13        13    13
21  09db80dc3d186a2e.jpg     1          14             1        10     1
22  0b0f8f84d1b2ae04.jpg    11          11            11         6    11
23  1276e19dfa47adc4.jpg    14          14            13        10    13
24  128fd89fa359e4e8.jpg     3           4            13         3    13
25  1392df37aecbb878.jpg     3           3             3         3     3
26  13a1310b57a45515.jpg    14           4            14         7    14
27  14bff117ad4c9bd5.jpg    14          14             7         7     7
28  15d6890b32a3491a.jpg     3           7             3         3     3
29  18b3cfa8bc2f7b09.jpg    12          14            13        10    13
30  1a0ba37806171e85.jpg     4           3             3         3     3
31  1b45268518d29b07.jpg     3           7             7         4     7
32  1e5e16337b85dbc5.jpg     3           7             3         3     3
33  2cab10f1deae738e.jpg    14          14            13        10    13
34  2cbbb185120ce2e0.jpg    12          14            12         6    12
35  2e4152b8a4893715.jpg    15          15            15         8    15
36  359e1bbe09dc01b1.jpg    12          12            13        10    12
37  365be7920c4f2ea7.jpg     3           3             3         3     3
38  370c3e8dcc342b29.jpg    14           3            13        10    10
39  37adbf12f411fd8e.jpg    14          14            13        10    13
40  413269bd2a9b8d24.jpg     3           3             7         3     3
41  42df520ce6d1f986.jpg     3           4             3         7     7
42  45fa31f65f2a2944.jpg     3          14            13        10    13

In [ ]:
# submissions/20250710_1117.csv 파일 불러오기
submission_df2 = pd.read_csv('../submissions/0710_selective.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1328'}, inplace=True)
submission_df2

                        ID  1328
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1328']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1117,1147,1253,1310,1328
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,6,6,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11
5,0182bffa56bdd844.jpg,12,12,13,12,13,12,12,13,12
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,6,6,1,3
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,13,13,14
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,11,11,6,11,11
14,1276e19dfa47adc4.jpg,14,14,13,10,13,14,10,13,13
15,128fd89fa359e4e8.jpg,3,4,13,3,13,13,3,13,4
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,14,14
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,7,7,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,13,12,12,13,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,7,7,3
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,13,13,10,13,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,12,12,10,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,10,10,13,3
27,37adbf12f411fd8e.jpg,14,14,13,10,13,13,10,13,14
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,7,7,3
30,45fa31f65f2a2944.jpg,3,14,13,10,13,13,10,13,3

In [ ]:
# 06a484eb2afab068.jpg 행 삭제
df_simple_with_labels = df_simple_with_labels[df_simple_with_labels['ID'] != '00bbdcfbbdb3e131.jpg']

# index 초기화 하기
df_simple_with_labels.reset_index(drop=True, inplace=True)
df_simple_with_labels

                      ID  눈 정답  1_최고점_conv  2_auto_eff_x  3_tf_eff  1117  1147
0   00471f8038d9c4b6.jpg    12           3            12        10    12    12
1   009b22decbc7220c.jpg    15          14            15         8    15    15
2   01385f22f2490868.jpg     4           4            13         6     6     6
3   016b0c00cdf93e0a.jpg    13          13            13        10    13    13
4   017ba667291b53c6.jpg    11          11            11        11    11    11
5   0182bffa56bdd844.jpg    12          12            13        12    13    12
6   021e7c8d9dc19021.jpg    16          16            16        16    16    16
7   03cb3f2e0962474e.jpg     3           4             1         6     6     6
8   0639e3932c5f7817.jpg    13          13            13        10    13    13
9   06427235c81111cc.jpg    12          14            12        12    12    12
10  071a06f75055347b.jpg    14           3            13        10    13    13
11  07d545e9eafadf0a.jpg    12          13            13        13    13    13
12  09db80dc3d186a2e.jpg     1          14             1        10     1     1
13  0b0f8f84d1b2ae04.jpg    11          11            11         6    11    11
14  1276e19dfa47adc4.jpg    14          14            13        10    13    14
15  128fd89fa359e4e8.jpg     3           4            13         3    13    13
16  13a1310b57a45515.jpg    14           4            14         7    14    14
17  14bff117ad4c9bd5.jpg    14          14             7         7     7     7
18  15d6890b32a3491a.jpg     3           7             3         3     3     3
19  18b3cfa8bc2f7b09.jpg    12          14            13        10    13    12
20  1a0ba37806171e85.jpg     4           3             3         3     3     3
21  1b45268518d29b07.jpg     3           7             7         4     7     7
22  1e5e16337b85dbc5.jpg     3           7             3         3     3     3
23  2cab10f1deae738e.jpg    14          14            13        10    13    13
24  2cbbb185120ce2e0.jpg    12          14            12         6    12    12
25  359e1bbe09dc01b1.jpg    12          12            13        10    12    12
26  370c3e8dcc342b29.jpg    14           3            13        10    10    10
27  37adbf12f411fd8e.jpg    14          14            13        10    13    13
28  413269bd2a9b8d24.jpg     3           3             7         3     3     3
29  42df520ce6d1f986.jpg     3           4             3         7     7     7
30  45fa31f65f2a2944.jpg     3          14            13        10    13    13

In [ ]:
submission_df2 = pd.read_csv('../submissions/20250710_1634.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1634'}, inplace=True)
submission_df2

                        ID  1634
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1634']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3

In [ ]:
# '1117' 열 삭제
# df_simple_with_labels.drop(columns=['1117'], inplace=True)
# df_simple_with_labels.drop(columns=['1147'], inplace=True)
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3

In [ ]:
# ./submissions/20250710_1344.csv

submission_df2 = pd.read_csv('../submission_final_ensemble_0710_1758.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1758'}, inplace=True)
submission_df2

                        ID  1758
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1758']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634,1758
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11,6
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12,12
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3,4
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11,11
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4,3
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4,4
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3,7
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3,3
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3,3
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14,4
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3,7
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3,7
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3,3

In [ ]:
submission_df2 = pd.read_csv('../submission_smart_ensemble_0710_1808.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1808'}, inplace=True)
submission_df2

                        ID  1808
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1808']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634,1758,1808
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11,6,6
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12,12,1
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3,4,4
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11,11,6
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4,3,3
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4,4,4
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3,7,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12,12,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3,3,4
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3,3,4
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7,7,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3,3,7
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14,4,4
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3,7,7
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3,7,7
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3,3,3

In [ ]:


# ./submissions/20250710_1344.csv

submission_df2 = pd.read_csv('../submission_two_ace_ensemble_0710_1814.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1814'}, inplace=True)
submission_df2

                        ID  1814
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1814']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634,1758,1808,1814
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11,6,6,11
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12,12,1,12
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3,4,4,3
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3,3,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11,11,6,11
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14,14,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4,3,3,3
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4,4,4,14
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3,7,3,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12,12,12,12
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3,3,4,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3,3,4,7
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7,7,7,7
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3,3,7,3
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14,4,4,14
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3,7,7,7
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3,7,7,7
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3,3,3,3

In [ ]:

# ./submissions/20250710_1344.csv

submission_df2 = pd.read_csv('../submission_3musketeers_ensemble_0710_1824.csv')
print(submission_df2)

                        ID  target
0     0008fdb22ddce0ce.jpg       2
1     00091bffdffd83de.jpg      12
2     00396fbc1f6cc21d.jpg       5
3     00471f8038d9c4b6.jpg      12
4     00901f504008d884.jpg       2
...                    ...     ...
3135  ffb4b6f619fb60ea.jpg       6
3136  ffb54299b1ad4159.jpg      10
3137  ffc2c91dff8cf2c0.jpg       8
3138  ffc4e330a5353a2a.jpg       0
3139  ffc71fed753d90c1.jpg      12

[3140 rows x 2 columns]

In [ ]:
submission_df2.rename(columns={'target': '1824'}, inplace=True)
submission_df2

                        ID  1824
0     0008fdb22ddce0ce.jpg     2
1     00091bffdffd83de.jpg    12
2     00396fbc1f6cc21d.jpg     5
3     00471f8038d9c4b6.jpg    12
4     00901f504008d884.jpg     2
...                    ...   ...
3135  ffb4b6f619fb60ea.jpg     6
3136  ffb54299b1ad4159.jpg    10
3137  ffc2c91dff8cf2c0.jpg     8
3138  ffc4e330a5353a2a.jpg     0
3139  ffc71fed753d90c1.jpg    12

[3140 rows x 2 columns]

In [ ]:
df_simple_with_labels = df_simple_with_labels.merge(submission_df2[['ID', '1824']], on='ID', how='left')
df_simple_with_labels

,ID,눈 정답,1_최고점_conv,2_auto_eff_x,3_tf_eff,1253,1310,1328,1434,1634,1758,1808,1814,1824
0,00471f8038d9c4b6.jpg,12,3,12,10,12,12,12,12,12,12,12,12,12
1,009b22decbc7220c.jpg,15,14,15,8,15,15,15,15,15,15,15,15,15
2,01385f22f2490868.jpg,4,4,13,6,6,6,4,4,4,4,4,4,4
3,016b0c00cdf93e0a.jpg,13,13,13,10,13,13,13,13,13,13,13,13,13
4,017ba667291b53c6.jpg,11,11,11,11,11,11,11,11,11,6,6,11,11
5,0182bffa56bdd844.jpg,12,12,13,12,12,13,12,12,12,12,1,12,1
6,021e7c8d9dc19021.jpg,16,16,16,16,16,16,16,16,16,16,16,16,16
7,03cb3f2e0962474e.jpg,3,4,1,6,6,1,3,3,3,4,4,3,3
8,0639e3932c5f7817.jpg,13,13,13,10,13,13,13,13,13,13,13,13,13
9,06427235c81111cc.jpg,12,14,12,12,12,12,12,12,12,12,12,12,12
10,071a06f75055347b.jpg,14,3,13,10,13,13,14,3,3,3,3,3,3
11,07d545e9eafadf0a.jpg,12,13,13,13,13,13,13,13,13,13,13,13,13
12,09db80dc3d186a2e.jpg,1,14,1,10,1,1,1,1,1,1,1,1,1
13,0b0f8f84d1b2ae04.jpg,11,11,11,6,6,11,11,11,11,11,6,11,11
14,1276e19dfa47adc4.jpg,14,14,13,10,10,13,13,14,14,14,14,14,14
15,128fd89fa359e4e8.jpg,3,4,13,3,3,13,4,4,4,3,3,3,3
16,13a1310b57a45515.jpg,14,4,14,7,14,14,14,4,4,4,4,14,14
17,14bff117ad4c9bd5.jpg,14,14,7,7,7,7,14,14,14,14,14,14,14
18,15d6890b32a3491a.jpg,3,7,3,3,3,3,3,3,3,7,3,3,3
19,18b3cfa8bc2f7b09.jpg,12,14,13,10,12,13,12,12,12,12,12,12,1
20,1a0ba37806171e85.jpg,4,3,3,3,3,3,3,3,3,3,4,3,3
21,1b45268518d29b07.jpg,3,7,7,4,7,7,3,3,3,3,4,7,3
22,1e5e16337b85dbc5.jpg,3,7,3,3,3,3,3,3,3,3,3,3,3
23,2cab10f1deae738e.jpg,14,14,13,10,10,13,7,7,7,7,7,7,14
24,2cbbb185120ce2e0.jpg,12,14,12,6,12,12,12,12,12,12,12,12,12
25,359e1bbe09dc01b1.jpg,12,12,13,10,10,12,12,12,12,12,12,12,12
26,370c3e8dcc342b29.jpg,14,3,13,10,10,13,3,3,3,3,7,3,4
27,37adbf12f411fd8e.jpg,14,14,13,10,10,13,14,14,14,4,4,14,14
28,413269bd2a9b8d24.jpg,3,3,7,3,3,3,3,3,3,7,7,7,3
29,42df520ce6d1f986.jpg,3,4,3,7,7,7,3,3,3,7,7,7,7
30,45fa31f65f2a2944.jpg,3,14,13,10,10,13,3,3,3,3,3,3,4